/* Default CSS Stylesheet for a new Web Application project */
.even
{
	background-color:#e5e5e5;
}
body
{
	font-family:Tahoma, Arial, Sans-Serif;
	font-size:10pt;
	color:#000000;
}
.errors
{
	font-family:Tahoma, Arial, Sans-Serif;
	font-size:10pt;
	color:#993300;
}
a, .link
{
	text-decoration:underline;
	font-family:Tahoma, Arial, Sans-Serif;
	color:#FF9933;
}
.header
{
	color:#003399;
	font-size:16pt;
	font-weight:bold;
	font-family:Arial, Sans-Serif;
}
.panel
{
	border: 1px solid #000000;
	padding: 10px;
}
.inputBox
{
	border: 1px solid #000000;
	background-color:#e5e5e5;
}
.label
{
	font-family:Tahoma;
	font-size:8pt;
	color:#000000;
}
.button
{
	border: 1px solid #000000;
	background-color: #FF9933;
	color: #000000;
	font-family: Arial, Sans-Serif;
	font-size: 10pt;
}