
A:hover
{
	color: fuchsia;
	font-style: italic;
	font-variant: small-caps;
}
.bigNBold
{
	font: bold 18pt Arial, 'Courier New' , 'Times New Roman';
	color: black;
}
.smallRow
{
	font-weight: normal;
	font-size: xx-small;
	word-spacing: normal;
	text-transform: none;
	color: black;
	font-style: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	letter-spacing: normal;
	background-color: #ffffff;
	text-decoration: none;
}
.smallRowAlt
{
	font-weight: normal;
	font-size: xx-small;
	word-spacing: normal;
	text-transform: none;
	color: black;
	font-style: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	letter-spacing: normal;
	background-color: #ccffff;
	text-decoration: none;
}
.tableHeader
{
	font-size: small;
	color: black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #33cc66;
	font-variant: small-caps;
}
.editRow
{
	font-weight: normal;
	font-size: xx-small;
	word-spacing: normal;
	text-transform: none;
	font-style: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	letter-spacing: normal;
	background-color: silver;
	text-decoration: none;
}
.textBox
{
	font-size: xx-small;
	background-color: #ffffcc;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
