<configuration>
    <configSections>
        <sectionGroup name="testConfig.group">
            <section
                name="mainAppSettings"
                type="System.Configuration.NameValueFileSectionHandler, System"
            />
        </sectionGroup>
        <sectionGroup name="sectiontest.group">
            <section
                name="mainAppSettings"
                type="System.Configuration.NameValueFileSectionHandler, System"
            />
        </sectionGroup>         
    </configSections>
    <testConfig.group>
        <mainAppSettings>
            <add
                key="tableBackgroundColor"
                value="lightyellow"
            />
            <add
                key="tableForegroundColor"
                value="brown"
            />
        </mainAppSettings>
    </testConfig.group>

    <location path="execreports" allowOverride="false">
        <testConfig.group>
            <mainAppSettings>
                <add
                    key="tableBackgroundColor"
                    value="lightyellow"
                />
                <add
                    key="tableForegroundColor"
                    value="red"
                />
            </mainAppSettings>
        </testConfig.group>
        <system.web>
            <pages 
                buffer="true"
                enableSessionState="true"
                enableViewState="true"
                autoEventWireup="true"
            />
        </system.web>
    </location>

    <system.web>
        <authentication mode="Windows" />
        <authorization>
            <allow
                users="faircjer,devtest,devtest2"
            />
        </authorization>
        <trace
            enabled="true"
            localOnly="true"
            pageOutput="true"
            requestLimit="15"
            traceMode="SortByTime"
        />
    </system.web>
</configuration>
